//! {{project_description}}

#![warn(missing_docs)]

/* std use */

/* crate use */

/* project use */
{% if proc_macro -%}
#[cfg(feature = "derive")]
pub use biommap_derive as derive;
{% endif %}

/* mod declaration */
{% if cli -%}
pub mod cli;
{% endif -%}
pub mod error;

#[cfg(test)]
mod tests {
    #[test]
    fn it_works() {
        let result = 2 + 2;
        assert_eq!(result, 4);
    }
}
