# {{project_name}} 🧬 💻

![tests](https://github.com/{{forge_namespace}}/{{forge_repo_name}}/workflows/tests/badge.svg)
![lints](https://github.com/{{forge_namespace}}/{{forge_repo_name}}/workflows/lints/badge.svg)
![msrv](https://github.com/{{forge_namespace}}/{{forge_repo_name}}/workflows/msrv/badge.svg)
[![website](https://github.com/{{forge_namespace}}/{{forge_repo_name}}/workflows/website/badge.svg)](https://{{forge_namespace}}.github.io/{{forge_repo_name}})
[![dev-doc](https://img.shields.io/badge/dev-doc-blue)](https://{{forge_namespace}}.github.io/{{forge_repo_name}}/doc/{{forge_repo_name}})
[![license](https://img.shields.io/badge/license-{{license}}-purple)]({{repository_uri}}/blob/main/LICENSE)
[![copier](https://img.shields.io/badge/copier-template-yellow)](https://github.com/natir/copier-rust)

{{ project_description }}

## Usage
{% if lib %}
Add this in your Cargo.toml
```
{{project_name}} = { version = "0.1" }
```
{% endif -%}

{%- if bin %}
### From source

```bash
git clone {repository_uri}
cd {{repository_name}}
cargo install --path
```
{% endif %}
## How to cite

```
{{author_name}}, {{project_name}}: {{project_description}}, JOSS, https://doi.org/XXXXXXX
```

## Minimum Supported Rust Version

Currently the minimum supported Rust version is {{msrv}}.
